@charset "utf-8";
@import "./bulma/bulma.sass";
@import "./bulma-tagsinput/index.sass";

$divider-margin-size: 10px;

@import "./bulma-divider/index.sass";


.pane-down-arrow {
  @include arrow(grey);
}

.fill-width {
    width: 100%;
}

.fill-height {
    height: 100%;
}
.scroll-y {
    height: 100%;
    overflow-y: scroll;
}

.scroll-y::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.split {
    display: flex;
    flex-direction: row;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}

#split-0 {
    background-color: #eeeeff;
}
#split-1 {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main-split.split {
    flex: 1 1 auto;
    height: 100%;
    overflow: hidden;
}

.bd-donate-button {
  background-color: #ff4747;
  color: white;
}

.bd-donate-button:hover {
  color: white;
  background-color: #ea444c;
}

html {
    height: 100%;
    overflow: hidden;
}
body {
    height:100%;
    display: flex;
}

#renderer-canvas {
    width: 100%;
    height: 100%;
}

.cropped-image img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.half-pane {
    max-height: 45%;
    overflow: hidden;
}

.quarter-pane {
    overflow: hidden;
}



.half-pane-content {
    height:  100%;
}


.image-filter-block .tags-input {
    width: 100%;
}

.image-info-table > tr > td {
    vertical-align: middle;
}

* {
    scrollbar-width: 0px !important;
    scrollbar-color: transparent; /* make scrollbar transparent */
}

::-webkit-scrollbar {
    display: none;
}

.centered-image {
    margin-left: auto;
    margin-right: auto;
}

.notification-box {
    z-index: 1;
    position: absolute;
}
.image-info-box {
    box-shadow: none;
    padding: 0px;
}

.upload-file-level {
    justify-content: center;
}

